<!-- 1-Create Thymeleaf Template to Display List of Posts List Blog Lposts with databse-->

<!--<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Thymeleaf Blog App </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
         <h1>Adebusoye Blog APP</h1>
    </div>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <th style="width:10%" >#</th>
      <th style="width:20%" >Project Title</th>
      <th style="width:30%" >Adebusoye Brief Content</th>
      <th style="width:20%" >Contents Created On</th>
      <th style="width:20%" >Actions</th>
    </thead>
    <tbody>

    <tr th:each = "tpost, tpostStat : ${tposts}">
         <td th:text="${tpostStat.count}">1</td>
         <td th:text="${tpost.projectTitle}">Project Title</td>
         <td th:text="${tpost.adebusoyeBriefContent}">Adebusoye Brief Content</td>

         <td th:text="${tpost.createdOn}">Content created date</td>
         <td>
             <a th:href="@{/admin/tposts/{postId}/edit(tpostId=${tpost.id})}" class="btn btn-primary">Edit</a>
             <a th:href="@{/admin/tposts/{postId}/delete(tpostId=${tpost.id})}" class="btn btn-danger">Delete</a>
         </td>
     </tr>

     </tbody>
   </table>
 </div>
</body>
</html>-->



<!--2 - Add Header and Footer to Thymeleaf Template HTML-->

<!--
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Thymeleaf Blog App </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

</head>


<body>

<div class="container">
    <div class="row">
        <h1>Adebusoye Blog APP</h1>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <th style="width:10%" >#</th>
        <th style="width:20%" >Project Title</th>
        <th style="width:30%" >Adebusoye Brief Content</th>
        <th style="width:20%" >Contents Created On</th>
        <th style="width:20%" >Actions</th>

        </thead>

        <tbody>
        <tr th:each = "tpost, tpostStat : ${tposts}">   &lt;!&ndash;iterates over lists of blog posts   &ndash;&gt;      &lt;!&ndash;in Thymeleaf, iteration or looping is achieved by using the th:each attribute&ndash;&gt;
            <td th:text="${tpostStat.count}">1</td>
            <td th:text="${tpost.projectTitle}">Project Title</td>
            <td th:text="${tpost.adebusoyeBriefContent}">Adebusoye Brief Content</td>
            <td th:text="${tpost.createdOn}">Content created date</td>
            &lt;!&ndash;<td>
                <a th:href="@{/admin/posts/{lpostId}/edit(postId=${post.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/admin/posts/{lpostId}/delete(postId=${post.id})}" class="btn btn-danger">Delete</a>
            </td>&ndash;&gt;
        </tr>
        </tbody>
    </table>
</div>
<footer class="footer-copyright text-center bg-dark py-3"
style="position:fixed; height:50px; width:100%; bottom:0">
<div>
    <strong>
        Copyright &copy; 2023 <a href="https://www.adebusoyeakinade.net">Adebusoye-Akinade</a>
         All rights reserved
    </strong>
</div>
</footer>
</body>
</html>-->



<!--3 - header.html Include Header, Navbar and Footer as Fragment-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<!--<head>
    <meta charset="UTF-8">
    <title>Spring Boot Thymeleaf Blog App </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>-->

<div th:replace="admin/header :: header"></div>      <!--th:replace - replaces the current tag with the tag defining the fragment-->
<body>
<div th:replace="admin/header :: navbar"></div>

<!--<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">UmmuAqibatul-Khair Blog App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin/posts}">Posts</a>
                </li>

            </ul>

        </div>
    </div>
</nav>-->

<div class="container">
    <div class="row">
        <h1>Adebusoye Blog APP</h1>
    </div>

    <!--65 Implement Frontend or search blog Post Feature-->
    <div  class="row">
        <div class="col-md-5">
            <div class="form-group">
                <form class="form-inline" th:action="@{/admin/tposts/search}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"> Search </button>

                        </span>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!--65 Implement Frontend or search blog Post Feature-->

    <!--65 Implement Frontend or search blog Post Feature-->
    <br/>
    <!--65 Implement Frontend or search blog Post Feature-->

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <th style="width:10%" >#</th>
        <th style="width:20%" >Project Title</th>
        <th style="width:30%" >Adebusoye Brief Content</th>
        <th style="width:20%" >Contents Created On</th>
        <th style="width:20%" >Actions</th>
        </thead>
        <tbody>
        <tr th:each = "tpost, tpostStat : ${tposts}">   <!--iterates over lists of blog posts   -->      <!--in Thymeleaf, iteration or looping is achieved by using the th:each attribute-->
            <td th:text="${tpostStat.count}">1</td>
            <td th:text="${tpost.projectTitle}">Project Title</td>
            <td th:text="${tpost.adebusoyeBriefContent}">Adebusoye Brief Content</td>
          <!--  <td th:text="${tpost.createdOn}">Content created date</td>-->
            <!--66Quickly Refactor UI code-->
            <td th:text="${#temporals.format(tpost.createdOn,'dd MMM yyy')}">28 Aug 2023</td>
            <!--66Quickly Refactor UI code-->

            <td>
                <a th:href="@{/admin/tposts/{tpostId}/edit(tpostId=${tpost.id})}" class="btn btn-primary">Edit</a>  <!--@{/admin/posts/{postId} request url fro handler50-->
                <a th:href=" @{/admin/tposts/{tpostId}/delete(tpostId=${tpost.id})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/admin/tposts/{tpostUrl}/view(tpostUrl=${tpost.url})}" class="btn btn-info">View</a> <!--60-->
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<footer class="footer-copyright text-center bg-dark py-3"
        style="position:fixed; height:50px; width:100%; bottom:0">
    <div>
        <strong>
            Copyright &copy; 2023 <a href="https://www.ummuaqibatul-Khair.net">UmmuAqibatul-Khair</a>
            All rights reserved
        </strong>
    </div>
</footer>-->
<div th:replace="admin/footer" :: footer> </div>
</body>
</html>